@import "../utils/variables";

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  &.item {
    display: flex;
  }
  &.item + &.item {
    margin-left: 30px;
  }
}

.contact .link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link-icon {
  fill: currentColor;
  margin-right: 10px;
}
