@import "../utils/variables";

.portfolio.page-header {
  border-bottom: 1px solid #ececec;
}

.portfolio.main {
  padding-top: 93px;
  padding-bottom: 94px;
}

.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  > .item + .item {
    margin-left: 8px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  &.card {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &.card:nth-child(3n) {
    margin-right: 0px;
  }
  &.card:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &.card:hover,
  &.card:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &.card {
    margin-right: 8px;
    border-radius: 4px;

    transition: box-shadow 250ms $cubic-bezier;
  }
  &.card:last-child {
    margin-right: 0px;
  }
}

.card-link {
  display: block;
  &:hover .description,
  &:focus .description {
    transform: translateY(0);
  }
}

.card-foto {
  position: relative;

  overflow: hidden;
}

.card-content {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

.filter .title {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $primary-text-color;
}

.filter .text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.88;

  color: $secondary-text-color;
}

.description {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(100%);

  transition: transform 250ms $cubic-bezier;

  color: $background-color;
  background-color: rgba(33, 150, 243, 0.9);
}
