@import "../utils/variables";

.works {
  display: flex;
  .item {
    position: relative;

    margin-right: 30px;
  }
  .item:last-child {
    margin-right: 0px;
  }
}

.desktop {
  width: 370px;
  height: 294px;

  background-image: url("../images/Desktop_applications.jpg");
}

.mobile {
  width: 370px;
  height: 294px;

  background-image: url("../images/Mobile_applications.jpg");
}

.design {
  width: 370px;
  height: 294px;

  background-image: url("../images/Design_solutions.jpg");
}

.section-caption {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 27px 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $background-color;
  background-color: rgba(47, 48, 58, 0.8);
}

.caption-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
